.background {
	width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image: linear-gradient($color-background-gradient, $color-background, $color-background, $color-background-gradient);
   opacity: .7;
   overflow: hidden;

   &-squares {
      list-style: none;
      position: absolute;
      bottom: -150px;
      animation: background-animation infinite;
      
      @for $i from 1 through 15 {
         &:nth-child(#{$i}){
               left: ($i * 6%);
         }
      }
        
      &:first-child{
         width: 80px;
         height: 80px;
         animation-delay: 15s;
         animation-duration: 40s;
      }

      &:nth-child(2){
         width: 240px;
         height: 240px;
         animation-duration: 200s;
         animation-delay: 50s;
      }
      
      &:nth-child(3){
         width: 30px;
         height: 30px;
         animation-duration: 20s;
         animation-delay: 10s;
      }

      &:nth-child(4){
         width: 60px;
         height: 60px;
         animation-duration: 30s;
         animation-delay: 30s;
      }

      &:nth-child(5){
         width: 20px;
         height: 20px;
         animation-duration: 5s;
         animation-delay: 20s;
      }

      &:nth-child(6){
         width: 80px;
         height: 80px;
         animation-duration: 40s;
         animation-delay: 5s;
      }

      &:nth-child(7){
         width: 130px;
         height: 130px;
         animation-duration: 20s;
         animation-delay: 30s;
      }

      &:nth-child(8){
         width: 40px;
         height: 40px;
         animation-duration: 10s;
         animation-delay: 5s;
      }

      &:nth-child(9){
         width: 80px;
         height: 80px;
         animation-duration: 60s;
         animation-delay: 20s;
      }

      &:nth-child(10){
         width: 20px;
         height: 20px;
         animation-duration: 30s;
         animation-delay: 5s;
      }

      &:nth-child(11){
         width: 120px;
         height: 120px;
         animation-duration: 25s;
         animation-delay: 10s;
      }

      &:nth-child(12){
         width: 60px;
         height: 60px;
         animation-duration: 80s;
         animation-delay: 20s;
      }

      &:nth-child(13){
         width: 20px;
         height: 20px;
         animation-duration: 20s;
         animation-delay: 5s;
      }

      &:nth-child(14){
         width: 80px;
         height: 80px;
         animation-duration: 50s;
         animation-delay: 10s;
      }

      &:nth-child(15){
         width: 300px;
         height: 300px;
         animation-duration: 200s;
         animation-delay: 80s;
      }
   }
}