$z-index-list: ('clock-hand', 'center-dot');

.clock {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: $color-background-shield;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 0 5px 2px $color-graduation-shadow;
    overflow: hidden;

    @include xsMin {
        width: 350px;
        height: 350px;
    }

    @include mdMin {
        width: 400px;
        height: 400px;
    }

    &::after {
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $color-hand-hour;
    }

    &:before {
        content: '';
        height: 10px;
        width: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $color-hand-second;
        z-index: index($z-index-list, 'center-dot');
    }

    &__numbers {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        padding: 15px;
        color: $color-hour-numbers;

        @for $i from 1 through 12 {
            &:nth-child(#{$i}){
                transform: rotate($i * 30deg);
                .clock__numbers-hour {
                    transform: rotate($i * -30deg);
                }
            }
        }
    }

    &__graduation {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @for $j from 1 through 80 {
            &:nth-child(#{$j}){
                transform: rotate($j * 6deg);
            }
        }

        &:after {
            @include graduation;
            height: 5px;
        }

        &:nth-child(5n):after {
            @include graduation;
            height: 15px;
        }
    }

    &__hand {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: index($z-index-list, 'clock-hand');

        &--transition {
            transition: transform 1s linear;
        }

        &-hour {
            width: 7px;
            height: 100px;
            background-color: $color-hand-hour;
        }

        &-minute {
            width: 4px;
            height: 130px;
            background-color: $color-hand-minute;
        }

        &-second {
            width: 4px;
            height: 240px;
            position: relative;
            top: 0;
            background-color: $color-hand-second;
            border-radius: 0 0 50% 50%;

            &--animation {
                animation: second-hand-animation 60s linear infinite;
            }
        }
    }

    &__date {
        @include date;
        top: 25%;
    }

    &__day {
        @include date;
        top: 65%;
        @include xsMin {
            top: 70%;
        }
    }
}