.clock
    - for (var i = 1; i<=12; i++)
        .clock__numbers
            .clock__numbers-hour= [i]

    - for (var j = 1; j<=60; j++)
        .clock__graduation

    .clock__hand#hour
        .all__hands.clock__hand-hour

    .clock__hand#minute
        .all__hands.clock__hand-minute

    .clock__hand#second
        .all__hands.clock__hand-second
    
    .clock__date
    
    .clock__day

