doctype html
head
  title Clock
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='./css/index.css')
  script(src='./js/script.js')

body
  include partials/_background.pug
  include partials/_clock.pug
    