@keyframes background-animation {
  0% { transform: translateY(0); background-color: $color-background-background-animation; opacity: 0;}
  1% { opacity: .1;}
  100% { transform: translateY(-1000px) rotate(600deg); }
}

@keyframes second-hand-animation {
  0% {transform: rotate(-6deg);}
  100% {transform: rotate(354deg);}
}
