$color-primary: #fff;
$color-background: #000;
$color-background-gradient: #250303;
$color-background-background-animation: $color-primary;
$color-background-shield: $color-background;
$color-hand-second: red;
$color-hand-minute: $color-primary;
$color-hand-hour: $color-primary;
$color-hour-numbers: $color-primary;
$color-background-date: $color-background;
$color-date: $color-primary;
$color-date-shadow: gray;
$color-graduation: $color-primary;
$color-graduation-shadow: $color-date-shadow;