@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=latin-ext');

html {
  color: $color-primary;
  font-family: "open sans", "sans serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-background;
}

.all__hands {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
}