@mixin graduation {
    content: '';
    width: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: $color-graduation;
}

@mixin date {
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 2;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: $color-date;
    background-color: $color-background-date;
    border-radius: 7px;
    box-shadow: inset 0 0 4px 1px $color-date-shadow;
}